@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP";
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  display: flex;
  padding-left: 60px;
  padding-right: 65px;
  padding-top: 8px;
  padding-bottom: 9px;
  height: 50px;
}

.header__title {
  margin-right: auto;
  font-size: 20px;
}

.header__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header__list {
    display: none;
  }
}

.header__item:not(:first-child) {
  margin-left: 35px;
}

.header__link {
  color: #505050;
}

.fv {
  background-image: url(../images/fv-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1080/500;
}
@media screen and (max-width: 768px) {
  .fv {
    background-image: url(../images/fv-img-sp.jpg);
    aspect-ratio: 375/550;
  }
}

.fv__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .fv__text {
    font-size: 39px;
    text-align: center;
    margin-right: 0;
    width: 315px;
    margin-inline: auto;
  }
}

.menu {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 54px;
  padding-bottom: 39px;
}

.menu__cards {
  margin-top: 30.5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media screen and (max-width: 768px) {
  .menu__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .menu__card:not(:first-child) {
    margin-top: 24px;
  }
}

.card__text {
  text-align: center;
}

.menu__name {
  margin-top: 30px;
  font-size: 20px;
}

.menu__name-text {
  margin-top: 9px;
  font-size: 15px;
}

.about {
  padding: 44px 60px 48px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 50px 30px 44px;
  }
}

.about__body {
  display: flex;
  margin-top: 30.5px;
  margin-inline: auto;
  max-width: 960px;
}
@media screen and (max-width: 768px) {
  .about__body {
    display: flex;
    flex-direction: column-reverse;
  }
}

.about__img {
  margin-left: 39px;
  width: 46.9%;
}
@media screen and (max-width: 768px) {
  .about__img {
    width: auto;
    margin-left: 0;
    text-align: center;
  }
}

.about__sub-title {
  margin-top: 19px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.65;
}
@media screen and (max-width: 768px) {
  .about__sub-title {
    white-space: nowrap;
    width: auto;
  }
}

.about__text {
  width: 471px;
  margin-top: 21px;
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .about__text {
    width: 100%;
  }
}

.about__link {
  background-color: #505050;
  padding-left: 86.71px;
  padding-right: 86.29px;
  padding-top: 9px;
  padding-bottom: 8px;
  color: #fff;
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .about__link {
    display: inline-block;
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
  }
}

.footer {
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: #505050;
  text-align: center;
}

.footer__copyright {
  color: #fff;
  font-size: 20px;
}

.title {
  font-size: 30px;
  text-align: center;
}